{% extends "base.html" %}


{% load bootstrap3 %}


{% block page_content %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" action="{% url 'sign-up' %}" method="POST">
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% csrf_token %}
                    {% bootstrap_icon "star" %} Sign Up
                </button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-2"></div>
{% endblock %}
