<!DOCTYPE html>
{% load bootstrap3 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    <title>{{ site_name }}</title>
    <script>
        {% block custom-js %}
        {% endblock %}
    </script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'images-list' %}">{{ site_name }}</a>
            </div>
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li class="navbar-text">Hello {{ user.username }}</li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'site-config' %}">Site Configuration</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'sign-up' %}">Signup</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block page_content %}
        {% endblock %}
    </div>
</body>
</html>