{% extends "base.html" %}


{% load bootstrap3 %}

{% block custom-js %}
$(document).ready(function() {
    var imageId = null;

    $.ajaxSetup({
     beforeSend: function(xhr, settings) {
         function getCookie(name) {
             var cookieValue = null;
             if (document.cookie && document.cookie != '') {
                 var cookies = document.cookie.split(';');
                 for (var i = 0; i < cookies.length; i++) {
                     var cookie = jQuery.trim(cookies[i]);
                     // Does this cookie string begin with the name we want?
                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                         break;
                     }
                 }
             }
             return cookieValue;
         }
         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             // Only send the token to relative URLs i.e. locally.
             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         }
     }
    });

    $('#confirmDelete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        imageId = button.data('imageId');
    });

    $('#delete-image').on('click', function (event) {
        $.ajax({
            url: 'delete-image/' + imageId + '/',
            type: 'DELETE',
            success: function(result) {
                location.reload();
            }
        });
    });
});
{% endblock %}


{% block page_content %}

{% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form id="upload-form" class="form-horizontal" action="{% url 'upload-image' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form upload_form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        {% bootstrap_icon "star" %} Upload
                    </button>
                {% endbuttons %}
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr>
    <!-- Modal -->
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            Are you sure?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="delete-image" type="button" class="btn btn-danger">DELETE</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}

{% for image in object_list %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
           <a href="{{ MEDIA_URL }}{{image.image}}" class="thumbnail">
                <img class="image" src="{{ MEDIA_URL }}{{image.image}}" alt="Author: {{ image.owner.username }}">
            </a>
            <div class="panel panel-primary">
                <div class="panel-heading text-center">{{ image.title }}</div>
                <div class="panel-body text-center">
                    {{ image.description }}
                </div>
                {% if image.owner == user %}
                <div class="panel-body text-center">
                    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#confirmDelete" data-image-id="{{ image.pk }}">
                        DELETE
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr>
{% empty %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">There are not any images yet!</div>
        <div class="col-md-2"></div>
    </div>
{% endfor %}

{% endblock %}
